#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.service-form-container {
  display: flex;
  align-items: center;    
  gap: 1rem;         
  background-color: #d1d0d0; 
  padding: 1rem;
  border-radius: 8px;
  justify-content: center; 
  flex-wrap: wrap;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card {
  background-color: #d1d0d0; 
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 12rem;

}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}


input {
  font: inherit;
  padding: 0.5em;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

input::placeholder {
  color: rgb(190, 190, 190);
}

.title-style {
  text-align: center;
  color: #0056b3;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
